/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.left-arrow {
  position: absolute;
  left: -23px;
  top: 35px;
  font-size: 30px;
}

.right-arrow {
  position: absolute;
  right: -23px;
  top: 35px;
  font-size: 30px;
}

ngx-slick-carousel div {
  margin-right: 5px;
}